{% extends 'base.html' %}

{% block body_block %}
{% load static %}
<!-- Header -->
<link rel="stylesheet"  href="{% static 'assets/css/projects.css' %}">

<!-- <section id="home" class="main-header">
  <div class="image" data-type="background" data-speed="2"></div>
  <div class="stuff text-center" data-type="content">
    <div class="black-bg text-center">
      <h1 class="main-heading">PROJECTS</h1>
    </div>
        <br>
        <p>Make In India <br>Go Vocal Buy Local</p>
        <p></p>
  </div>
</section> -->

<header id="header">
  <div class="logo"><h1 style="color: white; font-size: 45px;">Projects</h1></div>
</header>

<section id="main">
  <div class="inner" style="background-color: white;">
 <h3 class="head-commercial">Commercial Projects</h3>

<section>

<div class="container">


  <div class="row">
    <!-- Image 1 -->
    <div class="col">
      <div class="main">

            <img style="transition: all 0.5s ease-out;" class="my-img"src="https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
          <div class="add-on">
            <h3 class="embedded-1">
              Taj
            </h3>
            <p class="embedded-2">
              Additional info
            </p>
          </div>
          </div>
    </div>
<!-- Image 2 -->
    <div class="col">
      <div class="main">

            <img style="transition: all 0.5s ease-out;" class="my-img"src="https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
          <div class="add-on">
            <h3 class="embedded-1">
              Sayaji
            </h3>
            <p class="embedded-2">
              Additional info
            </p>
          </div>
          </div>
    </div>
<!-- Image 3 -->
    <div class="col">
      <div class="main">

            <img style="transition: all 0.5s ease-out;" class="my-img"src="https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
          <div class="add-on">
            <h3 class="embedded-1">
              Manavta-HCG
            </h3>
            <p class="embedded-2">
              Additional info
            </p>
          </div>
          </div>
    </div>
  </div>

  <br><br><br>

  <!-- Image 4 row changed -->
  <div class="row">
    <div class="col">
      <div class="main">

            <img style="transition: all 0.5s ease-out;" class="my-img image-responsive center-block"src="https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
          <div class="add-on">
            <h3 class="embedded-1">
              Kyriad
            </h3>
            <p class="embedded-2">
              Additional info
            </p>
          </div>
          </div>
    </div>

  <!-- image 5 -->

  <div class="col">
    <div class="main">

          <img style="transition: all 0.5s ease-out;" class="my-img image-responsive center-block"src="https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
        <div class="add-on">
          <h3 class="embedded-1">
            Grand Rio
          </h3>
          <p class="embedded-2">
            Additional info
          </p>
        </div>
        </div>
  </div>

  </div>
  </div>
</section>

<section class="retail-project">
  <h3 class="head-commercial">Retail Projects</h3>
 <div class="container">
   <div class="row">
     <!-- Image 1 -->
     <div class="col">
       <div class="main">

             <img style="transition: all 0.5s ease-out;" class="my-img"src="https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
           <div class="add-on">
             <h3 class="embedded-1">
               Pranav Parikh
             </h3>
             <p class="embedded-2">
               Additional info
             </p>
           </div>
           </div>
     </div>
 <!-- Image 2 -->
     <div class="col">
       <div class="main">

             <img style="transition: all 0.5s ease-out;" class="my-img"src="https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
           <div class="add-on">
             <h3 class="embedded-1">
               Jaisinghanis
             </h3>
             <p class="embedded-2">
               Additional info
             </p>
           </div>
           </div>
     </div>
 <!-- Image 3 -->
     <div class="col">
       <div class="main">

             <img style="transition: all 0.5s ease-out;" class="my-img"src="https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
           <div class="add-on">
             <h3 class="embedded-1">
               Nilesh Bora
             </h3>
             <p class="embedded-2">
               Additional info
             </p>
           </div>
           </div>
     </div>
   </div>

   <br><br><br>

    <!-- row 2 -->

    <div class="row">
      <!-- Image 4 -->
      <div class="col">
        <div class="main">

              <img style="transition: all 0.5s ease-out;" class="my-img"src="https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
            <div class="add-on">
              <h3 class="embedded-1">
                Rajpal
              </h3>
              <p class="embedded-2">
                Additional info
              </p>
            </div>
            </div>
      </div>
  <!-- Image 5 -->
      <div class="col">
        <div class="main">
              <img style="transition: all 0.5s ease-out;" class="my-img"src="https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
            <div class="add-on">
              <h3 class="embedded-1">
                Mutha Jalgaon
              </h3>
              <p class="embedded-2">
                Additional info
              </p>
            </div>
            </div>
      </div>
  <!-- Image 6 -->
      <div class="col">
        <div class="main">

              <img style="transition: all 0.5s ease-out;" class="my-img"src="https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
            <div class="add-on">
              <h3 class="embedded-1">
                Amby Valley
              </h3>
              <p class="embedded-2">
                Additional info
              </p>
            </div>
            </div>
      </div>
    </div>

    <br><br><br>

    <!-- row 3 -->

    <div class="row">
      <!-- Image 7 -->
      <div class="col">
        <div class="main">

              <img style="transition: all 0.5s ease-out;" class="my-img"src="https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
            <div class="add-on">
              <h3 class="embedded-1">
                Sameer Tanna
              </h3>
              <p class="embedded-2">
                Additional info
              </p>
            </div>
            </div>
      </div>
  <!-- Image 8 -->
      <div class="col">
        <div class="main">

              <img style="transition: all 0.5s ease-out;" class="my-img"src="https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
            <div class="add-on">
              <h3 class="embedded-1">
                Mr Pise
              </h3>
              <p class="embedded-2">
                Additional info
              </p>
            </div>
            </div>
      </div>
  <!-- Image 9 -->
      <div class="col">
        <div class="main">

              <img style="transition: all 0.5s ease-out;" class="my-img"src="https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
            <div class="add-on">
              <h3 class="embedded-1">
                Yogesh Chopda
              </h3>
              <p class="embedded-2">
                Additional info
              </p>
            </div>
            </div>
      </div>
    </div>

    <br><br><br>

    <div style="padding-bottom: 50px;" class="row">
      <div class="col">
        <div class="main">

              <img style="transition: all 0.5s ease-out;" class="my-img"src="https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
            <div class="add-on">
              <h3 class="embedded-1">
                Ashish Sakhala
              </h3>
              <p class="embedded-2">
                Additional info
              </p>
            </div>
            </div>
      </div>

    <!-- image 10 -->

    <div class="col">
      <div class="main">

            <img style="transition: all 0.5s ease-out;" class="my-img"src="https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
          <div class="add-on">
            <h3 class="embedded-1">
              Anand Bhagar Mill
            </h3>
            <p class="embedded-2">
              Additional info
            </p>
          </div>
          </div>
    </div>

    </div>
 </div>

</section>
<section style="background-color: black;
						padding-top: 50px;
						padding-bottom: 50px;"
			 id="contact" class="content-section text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto" data-aos="fade-up">
				<h2 style="color: white;">Contact us</h2>
				<p style="color: white;">Feel free to leave us a comment on the social media pages or website query page
					&nbsp;to give some feedback or order regarding our products </p>
					<a href="#" class="fa fa-facebook footer-icon"></a>
					<a href="#" class="fa fa-instagram footer-icon"></a>
					<a href="#" class="fa fa-linkedin footer-icon"></a>
					<a href="mailto:wincraftbuildmat@gmail.com" class="fa fa-envelope footer-icon"></a>
					<a href="tel:+919370367644" class="fa fa-phone footer-icon"></a>

				</div>
			</div>
		</div>
	</section>
	<footer style="background-color: black; padding-bottom: 10px;">
		<div class="container text-center">
			<p style="color:white;">Copyright ©&nbsp;Wincraft-Website</p>
		</div>
	</footer>
</div>
</section>

{% endblock %}
