#about{
  color: white;
  background-color: black;
}

h2, h1{
  color: white;
}

#page-top{
  background-color: black;
}

/* dropdown navbar colors */

.dropdown-item:hover {
  color: #0295da;
}

.alert{
  padding: 20px;
  margin: 0 auto;
}

input,textarea{
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    border: black 1px solid;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
  border-color: #0295DA;
  box-shadow: 0 0 0 1px #0295DA;
}

::selection{
  background-color: rgba(2, 149, 218, 0.6);
}
