
.wrapper{
  text-align: center;
}

h4, p{
  color: white;
}

.mid{

}

.category-img{
  border-radius: 50%;
}

#simta, #firat, #aluk{
  display: none;
}

/* .aluk:hover ~ .one{
  border: #0295DA 2px solid;
}

.one{
  text-align: center;
} */

.zoom:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
  width: 400px;

}

.inner{
  text-align: center;
}

.zoom{
  width: 400px;
}

.fixed{
  overflow: hidden;
}

/* bootstrap carousel */
.carousel-inner{
  width: auto;
}
.spotlight .image img{
  width: 200px;
}

@media only screen and (min-width: 800px){
.carousel-control-next, .carousel-control-prev{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
  }
}

carousel-img{
  margin-left: 50px;
}

@media only screen and (max-width: 800px) {
  .carousel-control-next, .carousel-control-prev {
    margin-top: 20%;
  }
}

.carousel-item{
  margin-left: 50px;
}

@media screen and (max-width: 980px){
#main .image img{
    width:50%;
}
}
