
.carousel-inner{
  width: 600px;
  height: 100px;
  margin-left: 20%;
}

.carousel-img{
  width: 200px;
}

@media only screen and (max-width: 800px) {
  .carousel-inner{
    width: auto;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 800px) {
  .carousel-img{
    width: 100px;

  }
}
@media only screen and (min-width: 800px) {
  .carousel-control-next, .carousel-control-prev{
    width: 5%;
  }
}

@media only screen and (min-width: 800px) {
  .carousel-control-next, .carousel-control-prev{
    margin-left: 200px;
    margin-right: 200px;
  }
}
