body{
  background-color: grey;
}

.head-commercial{
  text-align: center;
}

.add-on{
  padding-bottom:5px;
  margin-top: 40%;
  width: 200px;
    webkit-transform: translate(0,40px);
    transform: translate(0,40px);
    transition: transform .3s ease;
  background-color: black;

}

.add-on:hover{
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,40px);
    -ms-transform: translate(0,40px);
    -o-transform: translate(0,40px);
}
.main{
  overflow: hidden;
  width: 350px;
  border-bottom: solid 2px black;
  position: relative;
    background-color: grey;

}

#my-img{
  width: 350px;
 position: absolute;
}
