iframe{
  width:100%;
}


.main-heading{
  font-size: 100px;
  color: white;
}

@media only screen and (max-width: 600px) {
  .main-heading{
    font-size: 50px;
  }
}


@media only screen and (max-width: 600px) {
  iframe{
    height:400px;
  }
}

.main-header{
  height: 800px;
}

.navbar.scrolled {
  background-color: black !important;
  transition: background-color 200ms linear;
  height: 75px;
}



.image {
     background-attachment: fixed;
     background-size: cover;
     width: 100%;
     height: 100%;
     position: absolute;
     z-index: 500;
     opacity: 0.4;
     background-image: url(https://www.galeriemagazine.com/wp-content/uploads/2019/01/Dining_3-1024x674.jpg);
   }

   .stuff {
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     height: 100%;
     width: 100%;
     max-width: 70%;
     justify-content: center;
     text-align: center;
     z-index: 1000;
     color: white;
     margin: 0 auto;
     font-size: 26px;
     position: relative;
}
/* for query1 */
#query1{
  background-color: #7d7d7d;
}

/* for logo */
#logo{
  background-color: black;
}

.new-edit{
  margin: 120px;
}

/* Style all font awesome icons */
.footer-icon {
padding: 20px;
font-size: 100px;
text-align: center;
text-decoration: none;
 border-radius: 50%;
 margin-right: 20px;

}

/* Add a hover effect if you want */
.fa:hover {
opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
background: #3B5998;
color: white;
}
/*Insta*/
.fa-instagram {
  background: #D62976;
  color: white;
}


/* Linkedin*/
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-envelope {
  background: #d64d3f;
  color: white;
}
.fa-phone {
  background: #a4c639;
  color: white;
=======



.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}

.font-black{
  color: black;
}
