{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<link rel="stylesheet"  href="{% static 'assets/css/why.css' %}">
<!-- Header -->
			<header id="header">
				<div class="logo"><h1 style="color: white; font-size: 50px;">Why Wincraft</h1></div>
			</header>

		<!-- Main -->
			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="wrapper style1">
					</section>

				<!-- Three -->
					<section id="three" class="wrapper">

						<div class="spotlight alt">
							<div class="image flush"><img src="images/img1.jpg" alt="" /></div>
							<div  class="inner">
								<h3>Curabitur Eget</h3>
								<p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
							</div>
						</div>

						<div class="spotlight">
							<div class="image flush"><img src="images/img1.jpg" alt="" /></div>
							<div class="inner">
								<h3>Morbi Eleifend</h3>
								<p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
							</div>
                        </div>

                        <div class="spotlight alt">
							<div class="image flush"><img src="images/img1.jpg" alt="" /></div>
							<div  class="inner">
								<h3>Curabitur Eget</h3>
								<p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
							</div>
                        </div>

                        <div class="spotlight">
							<div class="image flush"><img src="images/img1.jpg" alt="" /></div>
							<div class="inner">
								<h3>Morbi Eleifend</h3>
								<p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
							</div>
                        </div>

					</section>
					<section style="border-top: black solid 1px">


					</section>


<!--				</div>-->
				<section style="background-color: black;
										padding-top: 50px;
										padding-bottom: 50px;

				" id="contact" class="content-section text-center">
					<div class="">
						<div class="">
							<div class="col-lg-8 mx-auto">
								<h2 style="color: white;">Contact us</h2>
								<p style="color: white;">Feel free to leave us a comment on the social media pages or website query page
									&nbsp;to give some feedback or order regarding our products </p>
									<a href="#" class="fa fa-facebook footer-icon"></a>
									<a href="#" class="fa fa-instagram footer-icon"></a>
									<a href="#" class="fa fa-linkedin footer-icon"></a>
									<a href="#" class="fa fa-envelope footer-icon"></a>
									<a href="#" class="fa fa-phone footer-icon"></a>

								</div>
							</div>
						</div>
					</section>
					<footer style="background-color: black; padding-bottom: 10px;">
						<div class="container text-center">
							<p style="color:white;">Copyright ©&nbsp;Wincraft-Website</p>
						</div>
					</footer>
			 </div>
                </section>
{% endblock %}
